@mixin padding-page {
    padding-left: 5%;
    padding-right: 5%;
}
@mixin nav-item-style {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}
@mixin icon-props {
    svg{
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
    }
    &:hover{
        stroke: rgb(75, 73, 73);
        fill: rgb(102, 84, 58);
        transform: scale(1.2);
        filter:  drop-shadow(10px 10px 10px  #776f6d77)
    }
    transition: all ease .4s;
    cursor: pointer;
}

$active-color:#FA4A0C;